body{
    font-family: 'Roboto', sans-serif;
}
.bgcolor{
    background-color: rgba(255, 249, 244, 1);
    text-align: left;
    
}
h3{
    color: orange;
}
.shoe-card{
    border: 0;
    border-radius: 10px;
    padding: 10px;
}
.shoe-footer{
    border: 0;
    background-color: white;
}


